.custom-badge .mat-badge-content {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.custom-badge .mat-icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}
